# Backend
backend/venv/
backend/__pycache__/
storage/

# Frontend (agora na raiz)
node_modules/
.next/
out/

# Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
